In [2]:
import pandas as pd

### Series

In [3]:
header = ['Name','age']
value = ['jemy',23]
pd.Series(data=header,index=value)

jemy    Name
23       age
dtype: object

In [4]:
pd.Series(value)

0    jemy
1      23
dtype: object

In [6]:
d_1=pd.Series(data=[45,45],index=['math','physics'])
d_2=pd.Series(data=[45,45],index=['english','physics'])
d_1+d_2

english     NaN
math        NaN
physics    90.0
dtype: float64

### Data Frame

pd.DataFrame(data=,index(raws)=,columns=)

In [8]:
pd.DataFrame(data=0,index=['x','y'],columns=['c1','c2'])

   c1  c2
x   0   0
y   0   0